# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LowPolyFPS.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\samuel\Projects\LowPolyFPS\.idea\.idea.LowPolyFPS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
